<li class="my-goals-list" data-id="{{this.dataValues.id}}">
    <span>
        {{#if completed}}<i class="far fa-check-circle"> </i>{{else}}<i class="far fa-circle"></i>{{/if}}
        <span class="goal-title">{{this.dataValues.goal_name}}</span> 
        <i data-id="{{this.dataValues.id}}" class="fas fa-trash-alt float-right"></i>
        <span  class="goal-description float-right">{{this.dataValues.goal_description}}</span>
    </span>
</li>