<div>
    <div class="my-goals">
        <h3 class="goal-headings">{{this.User.firstName}} {{this.User.lastName}}</h3>
        <span>
            <div class="my-goals-list">
                {{#if this.dataValues.completed}}
                <i class="far fa-check-circle"> </i>{{else}}
                <i class="far fa-circle" data-id="{{this.dataValues.id}}" data-userId="{{this.dataValues.UserId}}"></i>{{/if}}
                <span class="goal-title">{{this.dataValues.goal_name}}</span>
                <span class="goal-description float-right">
                    <i class="far fa-comment-alt" data-toggle="modal" data-target="#descriptionModal-{{this.dataValues.id}}"></i>
                </span>
            </div>
        </span>
    </div>
<<<<<<< HEAD
    <!-- Description Modal -->

    <br>
=======
    
<br>
>>>>>>> 0d43b322064adec6a3e34c7a44f0b98425518d63
